@{
    ViewBag.Title = "Domowa Biblioteka";
}

@section scripts {
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.7&appId=1779273355682385"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/react/react.min.js"></script>
    <script src="~/Scripts/jsx/BookListItem.jsx"></script>
    <script src="~/Scripts/jsx/BookList.jsx"></script>
    <script src="~/Scripts/jsx/Dashboard.jsx"></script>
}
<div id="container">
</div>
